@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
    font-family: "Questrial","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2.429;
    color: #555;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    height: 100%;
    color: #555;
}

#info {
    margin-top: 50px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #555;
}

.label {
    font-weight: normal;
    font-size: small;
}

.margin-bottom {
    margin-bottom: 15px;
}

.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-brand {
    line-height: 15px;
    height: 50px;
    font-size: 30px;
    padding: 15px 0px 0px 0px;
    text-shadow: 2px 2px #808080;
    float: left;
    width: 100%;
    text-align: center;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 10px;
}

.row-fluid .span6 {
    width: 48%;
}

.row-fluid [class*="span"] {
    display: block;
    min-height: 28px;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
}

.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid #555 !important;
    border-right: 1px solid #555 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #555 !important;
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.jumbotron {
    padding: 10px;
    margin-bottom: 10px;
    color: inherit;
    background-color: #FAFAFA;
}

.table {
    width: 100%;
    margin-bottom: 10px;
}

.table .lft {
    text-align: left;
}

.table-striped .lft {
    text-align: left;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info, 
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th {
    background-color: #999;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #8D8C8C;
}

.success {
    background: none repeat scroll 0% 0% #E6EFC2;
    color: #529214;
    border-color: #C6D880;
}

.error {
    background: none repeat scroll 0% 0% #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
}

.error, .success {
    margin-bottom: 1em;
    border: 2px solid #DDD;
    padding: 0.8em;
}

pre {
    white-space: pre;
    
}

#validate {
    font-size: 1.2em;
    color: #333;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 12px 0px 8px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 17px;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 8px;
    font-size: 14px;
    line-height: 1.429;
    border-radius: 4px;
    -moz-user-select: none;
}

.btn {
    border-width: 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:active {
  margin-top: 0px;
  border-bottom-width: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:hover {
  margin-top: 0px;
  border-bottom-width: 0px;
  color: #555;
  background-color: #D3D3D3;
}

.navbar-header {
    float: inherit;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 0px 0px 0px;
}

.footer {
    clear: both;
    text-align: center;
    padding: 4px 0px 0px;
    font-size: 11px;
    width: 100%;
    margin-bottom: 1px !important;
    background-color: #E7E7E7;
    border-bottom: 2px solid #CCC;
}
